<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdpu.dao.VoteContextDao">
	<resultMap type="VoteContext" id="VoteContextResult">
		<result property="votecontextId" column="votecontext_id"/>
		<result property="context" column="context"/>
		<result property="count" column="count"/>
		<result property="voteId" column="vote_id"/>
	</resultMap>
	<insert id="addVoteContext" parameterType="Votecontext">
		insert into VoteContext values(null,#{context},#{count},#{voteId})
	</insert>
	<select id="findVoteContextByVoteId" parameterType="Vote" resultMap="VoteContextResult">
		select * from VoteContext where vote_id=#{voteId}
	</select>
	<delete id="delVoteContext" parameterType="Votecontext" >
		delete from VoteContext where VoteContext_id=#{votecontextId}
	</delete>
	<insert id="addOneVoteContext" parameterType="Votecontext">
		insert into VoteContext values(null,#{context},#{count},#{voteId})
	</insert>
	<update id="updateVoteContext" parameterType="Votecontext">
		update VoteContext set context=#{context},count=#{count},vote_id=#{voteId} where votecontext_id=#{votecontextId}
	</update>
	<select id="findVCCountByVCId" parameterType="Votecontext" resultMap="VoteContextResult">
		select * from VoteContext where votecontext_id=#{votecontextId}
	</select>
	<select id="findTotalCountByVoteId" parameterType="int" resultType="Long">
		select COALESCE(sum(count),0) from VoteContext where vote_id=#{voteId}
	</select>
	
</mapper> 